* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #66A450;
    height: 100vh;
    box-sizing: border-box;
}


.photo_page {
    border-radius: 43px;
}

.main_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50%;
    gap: 20px;
    
}

.title {
    color: #98f07b;
    font-size: 64px;
    width: 300px;
    text-align: center;
       
}

.sub {
    color: white;
    font-size: 24px;
    width: 440px;
    height: 69px;
    text-align: center;
    
}

.arrow_page {

}